body {

}

.navbar {
    background-color: rgba(202, 255, 78, 0.699);
}

.margin {
    padding: 30px;
}

.quem-somos {
    background-color: rgba(255, 154, 72, 0.911);
}

.parceiros {
    background-color: rgba(128, 0, 128, 0.644);
}

.servicos {
    background-color: rgba(96, 190, 244, 0.856);
}

section img {
    margin: 30px;
}

section p {
    margin-top: 30px;
}